html, body {
	max-width: 100vw;
	max-height: 100vh;
	background: url('../img/back.jpg');
	font-family: Arial, sans-serif;
}

.container {
	border: 8px #1e0c08 solid;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 97vw;
	height: 92vh;
	margin-top: 3vh;
	margin-right: 1vw;
	background: rgba(242, 136, 43, 0.95);
}

.left-container {
	display: flex;
	flex-direction: column;
	width: 35vw;
	position: static;
}

.right-container {
	width: 49vw;
	display: flex;
	flex-direction: column;
	position: static;

}

.middle-container {
	width: 15vw;
	display: block;
	flex-direction: column;
	position: static;
	background: rgba(255, 255, 255, 0.3);
}

.sword {
	background: url('../img/sword.png');
	background-repeat: no-repeat;
	background-size: 30%;
	width: 100%;
	height: 50%;
	cursor: pointer;
}

.upgrade {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #5ee244;
	border-radius: 10%;
	box-shadow: none;
	border: none;
	padding: 5px;
}

.stats {
	width: 100%;
	max-height: 30%;	
	position: relative;
}

.heroes {
	width: 100%;
	min-height: 70%;
	position: relative;
}

.levels {
	width: 100%;
	max-height: 8%;
}

#currentLevelText {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1vh;
}

.monsters {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	background-image: url('../img/boss0.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#healthText {
	margin: 0;
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	font-weight: 900;
	text-align: center;
	width: 100%;
	background-color: rgb(255, 0, 0);
	height: 3vh;
}

#clickDamageText, #idleDamageText, #criticalHitChanceText, #currentMoneyText, #criticalHitMultiplierText {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 1vh;
}

#monsterText {
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
}

.warrior {
	background-color: #6b6763;
	border: 1px black solid;
}

.warrior p, .activewarrior p {
	color : white;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}

.activewarrior {
	background-color: #28681f;
	border: 1px white solid;
}